#python -m venv .venv
#.\.venv\Scripts\Activate.ps1
#python -m pip install mpi4py
#python -m pip install fastapi[all]
#pip install pytest
#python -m uvicorn main:app --reload
#python -m uvicorn main:app --host 0.0.0.0 --port 8808