<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" href="img/leme.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/leme.png" type="image/x-icon">
    <script src="js/cadastro.js" defer></script>
    <title>Cadastro Usuário</title>
</head>
<body>

<div class="login-container">
    <h2>Cadastro</h2>
    <form id="form">
        <div class="input.container"><input id="user" type="text" placeholder="Usuário" required> <i id="icon_user" class="bi bi-person-fill"></i></div>
        <div class="input.container"><input id="password" type="password" placeholder="Senha" required> <i id="icon_password" class="bi bi-lock-fill"></i></div>
        <div class="input.container"><input id="password_conf" type="password" placeholder="Confirmar Senha" required> <i id="icon_password_conf" class="bi bi-lock-fill"></i></div>
        <button type="submit">Criar Conta</button>
    </form>
    <br>
    <a href="index.html" class="back">Voltar</a>
</div>

</body>
</html>