<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/jogo.css">
    <title>Jogar Batalha Naval</title>
</head>
<body>
  <header>
    <h1><a href="index.html">Batalha Naval</a></h1>
    <nav>
        <a href="rank.html">Rank de Jogadores</a>
        <a href="index.html">Sair</a>
    </nav>
</header>
  <div class="container">
    <br>
    <h1 class="h1-container">sua vez/vez do oponente</h1>
    <div id="tabuleiro" class="tabuleiro">
          
    </div>
      <button id="tiro" onclick="atirar()">Atirar!</button>
    </div>
    <script src="js/jogo.js"></script>
</body>
</html>