<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/rank.css">
    <title>Rank de Jogadores</title>
</head>
<body>
    <header>
        <h1 ><a href="index.html">Batalha Naval</a></h1>
        <nav>
            <a href="index.html">Login</a>
            <a href="cadastro.html">Cadastro</a>

        </nav>
    </header>
    <div class="container">
        <br />
        <h2><b>Rank de Jogadores</b></h5>
        <div class="row justify-content-center">
            <div class ="col-md-8"> 
                <table class="tabela">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Jogador</th>
                            <th scope="col">Pontuação</th>
                        </tr>
                    </thead>
                    <tbody id="rank">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="js/rank.js">

    </script>
</body>
</html>
