@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    font-family: "Black Ops One", "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Adicionado para centralizar na vertical */
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/fundo-login.jpg');
    background-repeat: no-repeat;
    
}

html, body {
    overflow: hidden;
}

/* h1 {
    margin-top: -200px;
    color: rgb(38, 87, 160);
    font-size: 50px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(2px);

} */

.login-container {
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(2px);
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    height: 400px;
}

.login-container h2 {
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

.login-container input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(100px);
    color: white;
    font-weight: bolder;
    font-size: 14px;
}

.input-container {
    position: relative;
}

.input-container input {
    padding-right: 30px; /* Ajuste conforme necessário para acomodar o ícone */
}

#icon_user {
    position: absolute;
    top: 34%;
    right: 35px; /* Ajuste conforme necessário para posicionar o ícone */
    transform: translateY(-50%);
    color: white; /* Defina a cor desejada para o ícone */
    font-size: 20px;
}
#icon_password{
    position: absolute;
    top: 47.5%;
    right: 35px; /* Ajuste conforme necessário para posicionar o ícone */
    transform: translateY(-50%);
    color: white; /* Defina a cor desejada para o ícone */
    font-size: 20px;
}
#icon_password_conf{
    position: absolute;
    top: 61%;
    right: 35px; /* Ajuste conforme necessário para posicionar o ícone */
    transform: translateY(-50%);
    color: white; /* Defina a cor desejada para o ícone */
    font-size: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
    padding-right: 50px;
}

input:focus {
    outline: 2px solid rgb(255, 255, 255); /* Substitua #00f pela cor desejada */
    outline-offset: -1px; /* Ajuste conforme necessário */
}
::placeholder {
    color: white; /* Cor desejada para o placeholder */
}

.login-container button {
    font-family: "Black Ops One", sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: #45688c;
    color: #fff;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 15px;
    text-shadow: 0px 2px 0px black;

}
.login-container button:hover{
    background-color: #395572;
    transition: 0.3s;
    text-shadow: none;
}


.login-container .back {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 1px black;
    width: 100%;
    font-weight: bolder;
    
}